/* CSS Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(https://bloximages.chicago2.vip.townnews.com/azdailysun.com/content/tncms/assets/v3/editorial/3/17/317a838a-fdde-11e5-b97b-eb35aa7142d5/570838fbdf9fb.image.jpg?resize=1200%2C794);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.wrapper {
	background-color: #000;
	height: 200px;
	width: 80%;
	position: absolute;
	margin-top: 25%;
	opacity: 0.5;
}