/* CSS Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(https://bloximages.chicago2.vip.townnews.com/azdailysun.com/content/tncms/assets/v3/editorial/3/17/317a838a-fdde-11e5-b97b-eb35aa7142d5/570838fbdf9fb.image.jpg?resize=1200%2C794);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.wrapper {
	background-color: #000;
	height: 350px;
	width: 474px;
	position: absolute;
	margin-top: 18%;
	opacity: 0.5;
	z-index: -1;
}

.logo {
	margin-top: 10%;
	float: left;
	z-index: 1;
}

.tagline {
	margin-top: 30%;
	margin-left: 10px; 
	float: left;
}
