/* CSS Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



.naviside {
	background-color: white;
	width: 20%;
	float: left;
	height: 100%;
	position: fixed;
	padding-top: 25px;
	padding-bottom: 25px;
}

.avatar	{
	background-color: grey;
	height: 200px;
	width: 80%;
	margin: 0 auto; 
}

.main {
	background-color: skyblue;
	width: 80%;
	float: right;
	padding: 200px;
}

nav > ul > li > div {
	text-align: center;
	font-size: 0.8em;
	line-height: 50px;
	width: 80%;
	margin: auto; 
	background-color: skyblue;
}

.maincontent {
	width: 500px;
	background-color: skyblue;
	border: 5px solid white;
	text-align: center;
	padding: 100px; 
	margin: auto; 
	}

.about	{
	background-color: red;
	width: 80%;
	float: right;
	padding: 200px;
}
.services	{
	background-color: blue;
	width: 80%;
	float: right;
	padding: 200px;
}

.projects	{
	background-color: green;
	width: 80%;
	float: right;
	padding: 200px;
}

.gallery	{
	background-color: pink;
	width: 80%;
	float: right;
	padding: 200px;
}

h1 {
	margin-bottom: 20px;
}

.buttons	{
	margin: auto;
	background-color: yellow;
	width: 80%;
}	

a {
	text-decoration: none; 
}