/* CSS Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body	{

	background-image: url('https://pbs.twimg.com/profile_images/436905359261704193/uksgBTIE_400x400.png');
	background-position: bottom right;
	background-repeat: no-repeat;
}

.sidebar {
	float: left;
	width: 20%;
	background-color: grey;
	height: 100%
	position: fixed;
}

.avatar {
	width: 200px;
	height:	200px;
	background-color: white;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.nav {
	width: 80%;
	background-color: white;
	margin: 0 auto; 
	text-align: center;
}

main {
	float:	right;
	width: 80%;
	height: 100%;
	background-image: skyblue;
}

home {
	float: left;
	width: 100%;
	height: 10px;
}

about {
	float: left;
	background-color: yellow;
	width: 100%;
}

services {
	float: left;
	background-color: skyblue;
	width: 100%;
}

projects {
	float: left;
	background-color: red;
	width: 100%;
}

gallery {
	float: left;
	background-color: pink;
	width: 100%;
}